.data/
weight/
.env

# python
**/__pycache__/**
.pyre/
.mypy_cache/
.ruff_cache/

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# dotenv
.env
.container.env

# nix result
result
